* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: #111;
    overflow: hidden;
}

.hero-nadal {
    min-height: 100vh;
    background-image: url('../assets/wingsBlacks/rugby-4614610_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}